<div class="background">
    <div class="container">
      <div class="card">
        <div class="card-header">
          <h2 class="card-title">Challenge XAcademy Santex </h2>
        </div>
        <div class="card-body">
          <figure>
            <img src="https://i.ibb.co/9Yy6LTs/05f13b18-8378-48ea-8b36-1809b87a2a53.png" alt="Nahuel_Argandoña" class="profile-photo">
          </figure>
          <h3>Challenge Consiste en:</h3>
          <p>Este proyecto es una aplicación web para gestionar un listado de jugadores de FIFA, construida con Node.js en el backend y Angular en el frontend. La aplicación permite visualizar, modificar y crear información sobre jugadores de FIFA de ambos géneros, con datos que abarcan versiones desde FIFA 2015 hasta FIFA 2023.</p>
          
          <h4>Tecnologías Utilizadas</h4>
          <ul>
            <li><strong>Backend:</strong> Node.js, Express.js, Sequelize, MySQL, JWT, express-validator</li>
            <li><strong>Frontend:</strong> Angular, Angular Material, Reactive Forms, Chart.js</li>
          </ul>
  
          <h4>Funcionalidades</h4>
          <ol>
            <li>Listado de Jugadores</li>
            <li>Información Detallada de un Jugador</li>
            <li>Edición de Información de un Jugador</li>
            <li>Creación de Jugador Personalizado</li>
            <li>Autenticación</li>
          </ol>
  
          <h4>Requisitos Previos</h4>
          <ul>
            <li>Node.js (v14 o superior)</li>
            <li>MySQL (v5.7 o superior)</li>
            <li>Angular CLI</li>
            <li>Git</li>
          </ul>
  
          <h4>Instalación</h4>
          <p>Sigue los pasos en el README del proyecto para configurar y ejecutar la aplicación.</p>
        </div>
      </div>
    </div>
  </div>
  