<div class="container">
  <div class="card">
    <div class="card__image-container">
      <img class="card__image" [src]="playerCard?.player_face_url"
        alt="{{ playerCard?.long_name || 'Nombre no disponible' }}">
      <h1 class="card__title">{{ playerCard?.long_name || 'Nombre no disponible' }}</h1>
    </div>

    <div class="card__content">
      <div class="card__info-container">
        <!-- Información del jugador en la columna izquierda -->
        <div class="card__info">
          <p><strong>Club:</strong> {{ playerCard?.club_name || 'No disponible' }}</p>
          <p><strong>Nacionalidad:</strong> {{ playerCard?.nationality_name || 'No disponible' }}</p>
          <p><strong>Posición:</strong> {{ playerCard?.player_positions || 'No disponible' }}</p>
          <p><strong>Overall:</strong> {{ playerCard?.overall ?? 'No disponible' }}</p>
          <p><strong>Potencial:</strong> {{ playerCard?.potential ?? 'No disponible' }}</p>
          <p><strong>Valor (€):</strong> {{ playerCard?.value_eur ?? 'No disponible' }}</p>
          <p><strong>Sueldo (€):</strong> {{ playerCard?.wage_eur ?? 'No disponible' }}</p>
          <p><strong>Edad:</strong> {{ playerCard?.age ?? 'No disponible' }}</p>
          <p><strong>Altura (cm):</strong> {{ playerCard?.height_cm ?? 'No disponible' }}</p>
          <p><strong>Peso (kg):</strong> {{ playerCard?.weight_kg ?? 'No disponible' }}</p>
          <p><strong>Pierna preferida:</strong> {{ playerCard?.preferred_foot || 'No disponible' }}</p>
          <p><strong>Puntos débiles:</strong> {{ playerCard?.weak_foot ?? 'No disponible' }}</p>
          <p><strong>Habilidades:</strong> {{ playerCard?.skill_moves ?? 'No disponible' }}</p>
          <p><strong>Reputación internacional:</strong> {{ playerCard?.international_reputation ?? 'No disponible' }}
          </p>
          <p><strong>Trabajo:</strong> {{ playerCard?.work_rate || 'No disponible' }}</p>
          <p><strong>Tipo de cuerpo:</strong> {{ playerCard?.body_type || 'No disponible' }}</p>
          <p><strong>Pace:</strong> {{ playerCard?.pace ?? 'No disponible' }}</p>
          <p><strong>Shooting:</strong> {{ playerCard?.shooting ?? 'No disponible' }}</p>
          <p><strong>Passing:</strong> {{ playerCard?.passing ?? 'No disponible' }}</p>
          <p><strong>Dribbling:</strong> {{ playerCard?.dribbling ?? 'No disponible' }}</p>
          <p><strong>Defending:</strong> {{ playerCard?.defending ?? 'No disponible' }}</p>
          <p><strong>Physic:</strong> {{ playerCard?.physic ?? 'No disponible' }}</p>
          <p><strong>Agresividad:</strong> {{ playerCard?.mentality_aggression ?? 'No disponible' }}</p>
          <p><strong>Intercepciones:</strong> {{ playerCard?.mentality_interceptions ?? 'No disponible' }}</p>
          <p><strong>Posicionamiento:</strong> {{ playerCard?.mentality_positioning ?? 'No disponible' }}</p>
          <p><strong>Visión:</strong> {{ playerCard?.mentality_vision ?? 'No disponible' }}</p>
          <p><strong>Penales:</strong> {{ playerCard?.mentality_penalties ?? 'No disponible' }}</p>
          <p><strong>Composure:</strong> {{ playerCard?.mentality_composure ?? 'No disponible' }}</p>
          <p><strong>Marca:</strong> {{ playerCard?.defending_marking ?? 'No disponible' }}</p>
          <p><strong>Tackle (de pie):</strong> {{ playerCard?.defending_standing_tackle ?? 'No disponible' }}</p>
          <p><strong>Tackle (deslizante):</strong> {{ playerCard?.defending_sliding_tackle ?? 'No disponible' }}</p>
          <p><strong>Atajadas (buceo):</strong> {{ playerCard?.goalkeeping_diving ?? 'No disponible' }}</p>
          <p><strong>Atajadas (manejando):</strong> {{ playerCard?.goalkeeping_handling ?? 'No disponible' }}</p>
          <p><strong>Atajadas (pateando):</strong> {{ playerCard?.goalkeeping_kicking ?? 'No disponible' }}</p>
          <p><strong>Atajadas (posicionamiento):</strong> {{ playerCard?.goalkeeping_positioning ?? 'No disponible' }}
          </p>
          <p><strong>Atajadas (reflejos):</strong> {{ playerCard?.goalkeeping_reflexes ?? 'No disponible' }}</p>
          <p><strong>Atajadas (velocidad):</strong> {{ playerCard?.goalkeeping_speed ?? 'No disponible' }}</p>
        </div>

        <!-- Gráfico de radar en la columna derecha -->
        <div class="card__radar">
          <canvas id="radarChart"></canvas>
          <!-- Gráfico de barras debajo del radar -->
          <div class="card__bar-chart">
            <canvas id="barChart"></canvas>
          </div>

        </div>
      </div>

      <!-- Botones de acción -->
      <div class="card__button">
        <button (click)="onEdit()">Edit</button>
        <button (click)="onDelete()">Borrar</button>
        <button (click)="goBack()">Back</button>
      </div>
    </div>
  </div>
</div>