<!-- Encabezado principal del sitio web -->
<header>
  <!-- Contenedor para el logotipo y el nombre -->
  <div class="logo">
    <!-- Icono del logotipo usando Material Icons -->
    <i class="material-icons">person_pin</i>
    <!-- Nombre del sitio o logotipo -->
    Challenge
  </div>

  <app-menu-elemento [menuItems]="menuItems"></app-menu-elemento>

  <div class="spotify-player">
    <iframe src="https://open.spotify.com/embed/playlist/00i82lDzMDdiHWNjrIGAyw?autoplay=1" 
            width="300" height="100" 
            frameBorder="0" allow="encrypted-media" 
            allowtransparency="true">
    </iframe>
  </div>

  <!-- Botón para abrir el menú hamburguesa en vista móvil -->
  <button class="hamburger-menu" (click)="toggleMenu()">☰</button>
</header>

<app-burger-menu-elemento [menuItems]="menuItems"></app-burger-menu-elemento>