.container {
  display: grid; /* Cambiado a Grid Layout */
  gap: 20px; /* Espacio uniforme entre las tarjetas */
  padding: 20px; /* Espacio interno en los bordes */
}

/* Para móviles */
@media only screen and (max-width: 600px) {
  .container {
    grid-template-columns: 1fr; /* Una tarjeta por fila en móviles */
    height: auto;
    gap: 15px; /* Espacio entre tarjetas en móviles */
  }
  
}

/* Para tablets */
@media only screen and (min-width: 600px) and (max-width: 992px) {
  .container {
    grid-template-columns: repeat(2, 1fr); /* Dos tarjetas por fila en tablets */
    gap: 20px; /* Espacio uniforme */
    height: auto;
  }
  
}

/* Para escritorio */
@media only screen and (min-width: 992px) {
  .container {
    grid-template-columns: repeat(5, 1fr); /* 5 tarjetas por fila en escritorio */
    grid-template-rows: repeat(2, auto); /* 2 filas de tarjetas */
    gap: 20px;
    height: auto;
  }
  
}

/* Para resoluciones medias entre 992px y 1200px */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .container {
    grid-template-columns: repeat(4, 1fr); /* Reducir a 4 tarjetas por fila */
    gap: 15px; /* Reducir el espacio entre tarjetas si es necesario */
  }
  
}

