.container {
  display: grid; /* Cambiado a Grid Layout */
  gap: 20px; /* Espacio uniforme entre las tarjetas */
  padding: 20px; /* Espacio interno en los bordes */
}

.card__button{
  display: flex;
  flex-direction: row;
  gap: 20px;
}

/* Botones generales */
button {
  background-color: #6c757d; /* Gris medio */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

/* Color de fondo más oscuro al pasar el cursor */
button:hover {
  background-color: #5a6268; /* Gris oscuro */
}

/* Estilos específicos para el botón de crear jugador */
button.create-button {
  background-color: #5e6c84; /* Gris azulado */
}

button.create-button:hover {
  background-color: #4a5363; /* Gris azulado oscuro */
}

/* Estilos específicos para el botón de descargar CSV */
button.download-button {
  background-color: #8a8f98; /* Gris claro */
}

button.download-button:hover {
  background-color: #72787f; /* Gris medio */
}

/* Estilos específicos para el botón de convertir a Excel */
button.convert-button {
  background-color: #7b7e83; /* Gris con un toque de azul oscuro */
}

button.convert-button:hover {
  background-color: #62666b; /* Gris azulado oscuro */
}

/* Para móviles */
@media only screen and (max-width: 600px) {
  .container {
    grid-template-columns: 1fr; /* Una tarjeta por fila en móviles */
    height: auto;
    gap: 15px; /* Espacio entre tarjetas en móviles */
  }
  
}

/* Para tablets */
@media only screen and (min-width: 600px) and (max-width: 992px) {
  .container {
    grid-template-columns: repeat(2, 1fr); /* Dos tarjetas por fila en tablets */
    gap: 20px; /* Espacio uniforme */
    height: auto;
  }
  
}

/* Para escritorio */
@media only screen and (min-width: 992px) {
  .container {
    grid-template-columns: repeat(5, 1fr); /* 5 tarjetas por fila en escritorio */
    grid-template-rows: repeat(2, auto); /* 2 filas de tarjetas */
    gap: 20px;
    height: auto;
  }
  
}

/* Para resoluciones medias entre 992px y 1200px */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .container {
    grid-template-columns: repeat(4, 1fr); /* Reducir a 4 tarjetas por fila */
    gap: 15px; /* Reducir el espacio entre tarjetas si es necesario */
  }
  
}

