<!-- Usar el componente de búsqueda -->
<app-player-search (searchTermChange)="onSearchTermChange($event)"></app-player-search>

<!-- Usar el componente de paginación -->
<app-pagination 
  [currentPage]="currentPage" 
  [totalPages]="totalPages" 
  (pageChange)="changePage($event)">
</app-pagination>

<!-- Botón para crear un nuevo jugador -->
<button class="create-button" (click)="goToCreatePlayer()">Crear Jugador/a</button>
<!-- Botón para descargar CSV -->
<button class="download-button" (click)="onDownloadCSV()">Descargar CSV</button>
<!-- Botón para convertir CSV en XLSX -->
<button class="convert-button" (click)="onconvertCsvToExcel()">Convertir CSV en XLSX</button>
<!-- Botón para seleccionar archivo -->
<button (click)="fileInput.click()">Subir CSV</button>
<!-- Input de tipo archivo oculto -->
<input type="file" #fileInput style="display: none;" (change)="onFileSelected($event)" accept=".csv" />

<div class="container">
  <!-- Mensaje cuando no hay jugadores filtrados -->
  <div *ngIf="!filteredPlayerCardModel || filteredPlayerCardModel.length === 0" class="no-results">
    <p>No se encontraron jugadores.</p>
  </div>

  <!-- Lista de tarjetas de jugadores -->
  <app-player-card 
    *ngFor="let card of filteredPlayerCardModel" 
    [playerCard]="card"
    (deletePlayer)="borrar(card.id)"
    (editPlayer)="editar(card)" 
    (viewMore)="verMas(card.id)">
  </app-player-card>
</div>
